{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>First Post!</h3>
        <p>What I want to get out of this course:</P>
        <li>To develop my knowledge of programming and software engineering</li>
        <li>To gain a foothold and basic knowledge of PHP</li>
        <li>To find out the meaning of the mystical group: “ARM”</li>
        <li>To come up with a good team name based off the PHP initialise (this is a top priority atm)</li>
        <li>TO WIN. (this is the ultimate goal obviously)</li>
        <li>Further my understanding of the applications of computer science</li>
<p>I should probably put down “meeting new people” but that seemed a bit cliché so I’ll leave it out for now.</p>

    </div>
  </div>
</div>
{% endblock %}
