{% extends "layout.html" %} 

{% block content %} 
<div class="container"> 
 <div class="row"> 
  <h3>Problem solving and being lazy:</h3>
  <p>So these are the two categories that software engineering fall into. I’ll start with the former:</p>
  <p>To solve a problem effectively, that problem should first be broken down into smaller sections.
  This makes the problem more manageable and less confusing. At the same time however, note should be taken as to how
  these smaller sections together make up the initial problem. It’s important that you can stop
  work on a section and resume work at another time and know exactly how far you got. So going into detail is important.</p> 
  <p>Onwards to being lazy. This really is all about doing an excellent job with as little effort input as possible. For example if someone
  has already coded a function that “solves” (I use this term loosely) one of the smaller sections, there’s no point creating that
  from scratch. Copy and paste it. However, this isn’t an excuse for doing a bad job. Check the code for errors, make it tidier.
  Whatever. This leads to two commonly used initialisms in software engineering. DRY and KISS. Standing for “Don’t Repeat Yourself”
  and “Keep It Simple Stupid”. More on what those mean to follow.</p>
  
  
  </div>
 </div>
</div>
{% endblock %}
   
   
   



     
